.DS_Store
.coverage
.dagster/
.env
.idea/
.mypy_cache/
.pixi/
.pytest_cache/
.ruff_cache/
.ubio/
.venv/
*.duckdb
*.egg-info/
__pycache__/
build/
dist/
htmlcov/
incoming/
artifacts/
cache/
state/
work/
